# Site Settings
locale                   : "en"
title                    : "HIC SVNT DRACONES"
title_separator          : "-"
name                     : "Jan De Dobbeleer"
description              : "team leading and development from the trenches"
url                      : "https://www.herebedragons.io"
repository               : "janjoris/janjoris.github.io"
words_per_minute         : 200
comments:
  provider               : "disqus"
  disqus:
    shortname            : "debugti-me"

# defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      read_time: true
      comments: true
      author: Jan De Dobbeleer
      layout: single
      author_profile: true
      share: true
      related: true

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : "jan_joris"
facebook:
  username               : "janjoris"

# Analytics
analytics:
  provider               : "google-universal"
  google:
    tracking_id          : "UA-23507099-1"


# Site Author
author:
  name             : "Jan De Dobbeleer"
  avatar           : "bio-photo.jpg"
  bio              : "Automate or GTFO"
  location         : "Diest, Belgium"
  email            : "jan@herebedragons.io"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         : "janjoris"
  foursquare       :
  github           : "janjoris"
  google_plus      :
  keybase          : "janjoris"
  instagram        : "jan__joris"
  lastfm           :
  linkedin         : "jandedobbeleer" 
  pinterest        :
  soundcloud       :
  stackoverflow    : "5122929/jan"
  steam            :
  tumblr           :
  twitter          : "jan_joris"
  vine             :
  weibo            :
  xing             :
  youtube          :


# Reading Files
include:
  - .htaccess
  - _pages
  - _headers
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-seo-tag

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development